.home-page {

    .text-zone {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
    }

    h1 {
        color: #fff;
        font-size: 53px;
        margin: 0;
        font-family: 'Courier New', Courier, monospace;
        font-size: 400;

        &::before {
            content: '<h1>';
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 16px;
            opacity: 0;
        }
        &::after {
            content: '</h1>';
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 16px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
        img {
            width: 32px;
            border-radius: 50%;
            margin-left: 20px;
            opacity: 0;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

}

h2 {
    color: #8d8d8d;
    font-size: 11px;
    font-weight: 400;
    margin-top: 20px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: faedIn 1s 1.8s backwards ;
}

.flat-bottom {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    letter-spacing: 4px;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
    &:hover {
        background: #ffd700;
        color: #333;
        transition: 1.5s;
    }
}