.tim-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    margin-left: 180px;

    h1 {
        font-size: 53px;
        font-family: 'Courier New', Courier, monospace;
        color: #ffd700;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 10px;
        left: 10px;
        &::before {
            content: '<h1>';
            font-size: 18px;
            position: absolute;
            margin-top: -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }
        &::after {
            content: '</h1>';
            font-size: 18px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;
        }
        
        }
        p {
            font-style: 13px;
            color: #eeff00;
            font-family: sans-serif;
            font-weight: 300;
            min-width: fit-content;
            animation: pulse 1s;
            margin-top: 40px;
            &:nth-of-type(1) {
                animation-delay: 1.1s;
            }
            &:nth-of-type(2) {
                animation-delay: 1.2s;
            }
            &:nth-of-type(3) {
                animation-delay: 1.3s;
            }
        
      
    }
    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
    .contact-form {
        width: 100%;
        margin-top: 20px;
        ul {
            padding: 0;
            margin: 0;
            li {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-bottom: 10px;
                overflow: hidden;
                display: block;
                position: relative;
                opacity: 0;
                animation: fadeInUp 2s 2s;
                animation-fill-mode: forwards;
                clear: both;
            }
            li.half {
                width: 49%;
                margin-left: 2%;
                float: left;
                clear: none;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        input[type='text'],
        input[type='email'] {
            width: 100%;
            border: 0;
            background: #115173;
            height: 50px;
            font-size: 16px;
            color: #fff;
            padding: 0 20px;
            box-sizing: border-box;
        }
        textarea {
            width: 100%;
            border: 0;
            background: #115173;
            height: 50px;
            font-size: 16px;
            color: #fff;
            padding: 20px;
            min-height: 150px;
            box-sizing: border-box;
        }
        .flat-button {
            color: #ffd700;
            background: 0 0;
            font-size: 11px;
            text-decoration: none;
            padding: 8px 10px;
            border: 1px solid #ffd700;
            float: right;
            border-radius: 4px;

        }

    }
    }

    .info-map {
        position: absolute;
        background-color: #000;
        top: 47px;
        right: 13.5%;
        z-index: 999999;
        width: 267px;
        padding: 20px;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        font-weight: 300;
        opacity: 0;
        animation: fadeIn 1s 1.5s;
        animation-fill-mode: forwards;
    
    span {
        font-size: 16px;
        padding-top: 20px;
        display: block;
        color: #ffd700;
    }

    }

    .map-wwrap {
        background: rgba(8, 253, 213, 0.1);
        float: right;
        width: 53%;
        height: 100%;
    }
    .leaflet-coontainer {
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0;
        animation: backInRight 1s 1.2s;
        animation-fill-mode: forwards;
    }